.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}


table {
  /* width: auto; */
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 8px;
}

.model-col {
  width: 200px;
  text-align: left;
}

.globalAverage-col {
  width: 115px;
}
.category-checkboxes {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.category-checkboxes label {
  margin-right: 20px;
  font-size: 16px;
  color: #007bff;
  cursor: pointer;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  flex-direction: column;
  max-width: 80%;
  width: 100%; /* Take the full width up to 80% of the parent container */
  margin: 20px auto; /* Center the table-container horizontally */
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
}

.category-checkboxes {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.category-group {
  margin-right: 20px;
}